@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor:  url('/pencil.svg') 0 22,
      url('/pencil.cur'), default;

  
  }
  @font-face {
      font-family: Trap;
      src: url("/assets/fonts/Trap-Black.woff") format("woff"), url("/assets/fonts/Trap-Black.ttf")  format("truetype");
      font-weight: 900;
  }
  @font-face {
      font-family: Trap;
      src: url("/assets/fonts/Trap-Bold.woff") format("woff"), url("/assets/fonts/Trap-Bold.ttf")  format("truetype");
      font-weight: 700;
  }


  @keyframes project-preview {
    0% {bottom: -8rem;}
    100% {bottom: 0px;}
  }
  #project-grid:hover~#preview{
    animation-name: project-preview;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  } 
}

@layer utilities {

@keyframes show-paint {
    from {opacity: 0; }
    to {opacity: 1; }
}
.show-paint {    
  animation-duration: 2s;
  animation-name: show-paint;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
    @keyframes paint-screen-medium {
    0% {left: 0%;
        top: 10vh;
        width: 40% }
    33% { 
          left: 75%;
          top: 20vh;}
    66% { left: 0%;
          top: 40vh;}
    99% { left: 99%;
          top: 80vh;
          width: 40%;

      }
    100% {
      left: 100%;
      width: 0;
    }
    }
    @keyframes paint-screen {
      0% {left: 0%;
          top: 25vh;
          width: 40% }
      33% { 
            left: 75%;
            top: 45vh;}
      66% { left: 0%;
            top: 75vh;}
      99% { left: 99%;
            top: 100vh;
            width: 40%;
  
        }
      100% {
        left: 100%;
        width: 0;
      }
      }

  @media (max-width: 767px){
    .paint-screen {
      animation-name: paint-screen;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
    }
  }
  @media (min-width: 768px) {
      .paint-screen {
        animation-name: paint-screen-medium;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
      }
  }
  .masonry-item {
    @apply max-w-sm;
  }
  .img-hor-vert {
      -moz-transform: scale(-1, -1);
      -o-transform: scale(-1, -1);
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, -1);
  }
  .project-card {
    transition-property: transform, opacity;
    @apply group opacity-95 hover:opacity-100 transform hover:-translate-y-2 duration-300 px-4 pt-8 m-2 relative;
  }
  .project-title {
    @apply mt-3 text-2xl h-16 max-w-xxs;
  }
  .project-subtitle {
    @apply mr-4 text-right;
  }
  .project-sketch-box {
    @apply absolute w-full h-full -ml-4 -mt-8;
  }
  /* .project-image {
    @apply border border-off-black;
  } */
  .text-shadow {
    text-shadow: 0px 0px 1px #FFFFFF;
  }
}