@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: Trap;
      src: url("/assets/fonts/Trap-Black.woff") format("woff"), url("/assets/fonts/Trap-Black.ttf")  format("truetype");
      font-weight: 900;
  }
  @font-face {
      font-family: Trap;
      src: url("/assets/fonts/Trap-Bold.woff") format("woff"), url("/assets/fonts/Trap-Bold.ttf")  format("truetype");
      font-weight: 700;
  }


  @keyframes project-preview {
    0% {bottom: -8rem;}
    100% {bottom: 0px;}
  }
  #project-grid:hover~#preview{
    animation-name: project-preview;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }

}

@layer utilities {
  .img-hor-vert {
      -moz-transform: scale(-1, -1);
      -o-transform: scale(-1, -1);
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, -1);
  }
  .polaroid-card {
    @apply group opacity-95 hover:opacity-100 transform hover:-translate-y-2 transition-all duration-300 px-4 pt-8 m-2 bg-gradient-to-br from-white to-polaroid-dark border border-off-black rounded-2xl shadow-lg relative;
  }
  .polaroid-holder-tl {
    @apply opacity-0 group-hover:opacity-100 transition-opacity duration-500 absolute -top-2 -left-2 md:-top-1 md:-left-1 w-1/6 img-hor-vert;
  }
  .polaroid-holder-br {
    @apply opacity-0 group-hover:opacity-100 transition-opacity duration-500 absolute -bottom-2 -right-2 md:-bottom-1 md:-right-1 w-1/6;
  }
  .polaroid-title {
    @apply mt-2 text-2xl h-16 max-w-xxs;
  }
  .polaroid-subtitle {
    @apply mr-4 text-right;
  }
  
}