@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .home { 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor:
      url('/pencil.cur'), default;
  }
  @media (max-width: 767px){
    .article p {
      margin-left: 5px;
    }
  }
  @media (min-width: 768px) {
    .article p {
      margin-left: 8px;
    }
  }
  
  .article h4 {
    @apply font-semibold italic;
  }

  .article a {
    @apply underline;
  }
  
  @font-face {
      font-family: Trap;
      src: url("/assets/fonts/Trap-Black.woff") format("woff"), url("/assets/fonts/Trap-Black.ttf")  format("truetype");
      font-weight: 900;
  }
  @font-face {
      font-family: Trap;
      src: url("/assets/fonts/Trap-Bold.woff") format("woff"), url("/assets/fonts/Trap-Bold.ttf")  format("truetype");
      font-weight: 700;
  }


  @keyframes project-preview {
    0% {bottom: -8rem;}
    100% {bottom: 0px;}
  }
  #project-grid:hover~#preview{
    animation-name: project-preview;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
  input:invalid {
    border: 2px dashed red;
  }
  
}

@layer utilities {

  @keyframes animate-opacity {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.show-paint {    
  animation-duration: 2s;
  animation-name: animate-opacity ;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
    @keyframes paint-screen-medium {
    0% {left: 0%;
        top: 10vh;
        width: 40% }
    33% { 
          left: 75%;
          top: 20vh;}
    66% { left: 0%;
          top: 40vh;}
    99% { left: 99%;
          top: 80vh;
          width: 40%;

      }
    100% {
      left: 100%;
      width: 0;
    }
    }
    @keyframes paint-screen {
      0% {left: 0%;
          top: 25vh;
          width: 40% }
      33% { 
            left: 75%;
            top: 45vh;}
      66% { left: 0%;
            top: 75vh;}
      99% { left: 99%;
            top: 100vh;
            width: 40%;
  
        }
      100% {
        left: 100%;
        width: 0;
      }
      }

  @media (max-width: 767px){
    .paint-screen {
      animation-name: paint-screen;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
    }
  }
  @media (min-width: 768px) {
      .paint-screen {
        animation-name: paint-screen-medium;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
      }
  }
  .masonry-item {
    @apply max-w-sm;
  }
  .img-hor-vert {
      -moz-transform: scale(-1, -1);
      -o-transform: scale(-1, -1);
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, -1);
  }
  .project-card {
    transition-property: transform, opacity;
    @apply group opacity-95 hover:opacity-100 transform hover:-translate-y-2 duration-300 px-4 pt-8 m-2 relative;
  }
  .project-title {
    @apply mt-3 text-2xl h-16 max-w-xxs break-words;
  }
  .project-subtitle {
    @apply mr-4 text-right;
  }
  .project-sketch-box {
    @apply absolute w-full h-full -ml-4 -mt-8 pointer-events-none;
  }
  .project-image {
    @apply pointer-events-none;
  }
  .text-shadow {
    text-shadow: 0px 0px 1px #FFFFFF;
  }
  .article {
    @apply md:ml-10 mt-10 w-11/12 md:mr-20 lg:mr-32 max-w-md flex flex-col space-y-3;
  }
  .project-nav-direction {
    @apply font-trap font-semibold mb-4 md:mb-2 w-full text-center md:text-left;
  }
  .project-nav-box {
    @apply shadow-lg rounded-sm bg-white  border border-off-black flex max-w-md md:max-w-lg mx-4  md:ml-0 md:mr-5 pt-5 pb-6;
  }
  .project-nav-title {
    @apply font-trap font-bold mr-12 text-center text-2xl underline;
  }
  .project-nav-summary {
    @apply mt-2 text-lg font-semibold;
  }
  .project-nav-details {
    @apply mt-2 text-sm italic;
  }

  .animate-opacity {
    animation-name: animate-opacity;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}